module.exports = {
  "extends": "eslint-config-airbnb",
  "env": {
    "browser": true
  },
  "rules": {
    // "react/no-typos": "off",
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": [
          "Link"
        ],
        "specialLink": [
          "to"
        ]
      }
    ]
  }
}
